/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

// Layers
#define L_DEFAULT 0
#define L_LOWER   1
#define L_SYMBOLS 2
#define L_GAMING  3
#define L_MAGIC   4

// Troubleshooting/timings:
// https://github.com/urob/zmk-config?tab=readme-ov-file#troubleshooting
// https://docs.google.com/spreadsheets/d/1ESgObQelyz4lnKlfwLYsmofLJulOMK5RdGBsopLe2o8/edit

// How long you have to hold a key for it to count as a "hold" instead of just a "tap"
#define DEFAULT_TAPPING_TERM_MS 200

// Homerow mod hold time
#define HRM_TAPPING_TERM_MS_INDEX  140
#define HRM_TAPPING_TERM_MS_MIDDLE 220
#define HRM_TAPPING_TERM_MS_RING   240
#define HRM_TAPPING_TERM_MS_PINKY  260

// It prevents unintended activation of home row mods when you're actively typing.
#define HRM_REQ_PRIOR_IDLE_MS_INDEX  100
#define HRM_REQ_PRIOR_IDLE_MS_MIDDLE 150
#define HRM_REQ_PRIOR_IDLE_MS_RING   150
#define HRM_REQ_PRIOR_IDLE_MS_PINKY  200

// Time you have left after tapping a key to hold it again to make it auto-repeat.
#define HRM_QUICK_TAP_MS 175

// Unicode sequence
#define UNICODE_TAP_DELAY 10
#define UNICODE(_name_, _keystrokes_)                                 \
    _name_: _name_ {                                                  \
        compatible = "zmk,behavior-macro";                            \
        wait-ms = <UNICODE_TAP_DELAY>;                                \
        tap-ms = <UNICODE_TAP_DELAY>;                                 \
        #binding-cells = <0>;                                         \
        bindings = <&macro_tap &kp LC(LS(U)) _keystrokes_ &kp ENTER>; \
    };

/ {
    //////////////////////////////////////////////////////////////////////////////
    // Behaviors
    //////////////////////////////////////////////////////////////////////////////

    behaviors {
        //////////////////////////////////////////////////////////////////////////
        // Magic layer
        //////////////////////////////////////////////////////////////////////////

        magic: magic_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <DEFAULT_TAPPING_TERM_MS>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };

        //////////////////////////////////////////////////////////////////////////
        // ZMK global overrides
        //////////////////////////////////////////////////////////////////////////

        behavior_caps_word {
            continue-list = <
                UNDERSCORE MINUS
                BACKSPACE DELETE
                N1 N2 N3 N4 N5 N6 N7 N8 N9 N0
            >;
        };

        //////////////////////////////////////////////////////////////////////////
        // Homerow mods
        //////////////////////////////////////////////////////////////////////////

        // Timeless homerow mods
        // https://github.com/urob/zmk-config?tab=readme-ov-file#timeless-homerow-mods
        // https://docs.google.com/spreadsheets/d/1ESgObQelyz4lnKlfwLYsmofLJulOMK5RdGBsopLe2o8/edit
        #define LEFT_HAND_KEYS                                      \
              0  1  2  3  4                                         \
             10 11 12 13 14 15                                      \
             22 23 24 25 26 27                                      \
             34 35 36 37 38 39                                      \
             46 47 48 49 50 51                                      \
             64 65 66 67 68
        #define RIGHT_HAND_KEYS                                     \
                                               5  6  7  8  9        \
                                           16 17 18 19 20 21        \
                                           28 29 30 31 32 33        \
                                           40 41 42 43 44 45        \
                                           58 59 60 61 62 63        \
                                              75 76 77 78 79
        #define THUMB_KEYS                                          \
                            69 52       57 74                       \
                             70 53     56 73                        \
                              71 54   55 72

        #define HOMEROW_MOD(_name_, _tapping_term_ms_, _require_prior_idle_ms_, _htkeys_) \
            _name_: _name_ {                                        \
                compatible = "zmk,behavior-hold-tap";               \
                flavor = "balanced";                                \
                tapping-term-ms = <_tapping_term_ms_>;              \
                /* repeat on tap-into-hold */                       \
                quick-tap-ms = <HRM_QUICK_TAP_MS>;                  \
                require-prior-idle-ms = <_require_prior_idle_ms_>;  \
                #binding-cells = <2>;                               \
                bindings = <&kp>, <&kp>;                            \
                hold-trigger-key-positions = <_htkeys_ THUMB_KEYS>; \
                /* delay positional check until key-release */      \
                hold-trigger-on-release;                            \
            };

        HOMEROW_MOD(hmli, HRM_TAPPING_TERM_MS_INDEX,  HRM_REQ_PRIOR_IDLE_MS_INDEX,  RIGHT_HAND_KEYS)
        HOMEROW_MOD(hmlm, HRM_TAPPING_TERM_MS_MIDDLE, HRM_REQ_PRIOR_IDLE_MS_MIDDLE, RIGHT_HAND_KEYS)
        HOMEROW_MOD(hmlr, HRM_TAPPING_TERM_MS_RING,   HRM_REQ_PRIOR_IDLE_MS_RING,   RIGHT_HAND_KEYS)
        HOMEROW_MOD(hmlp, HRM_TAPPING_TERM_MS_PINKY,  HRM_REQ_PRIOR_IDLE_MS_PINKY,  RIGHT_HAND_KEYS)
        HOMEROW_MOD(hmri, HRM_TAPPING_TERM_MS_INDEX,  HRM_REQ_PRIOR_IDLE_MS_INDEX,  LEFT_HAND_KEYS)
        HOMEROW_MOD(hmrm, HRM_TAPPING_TERM_MS_MIDDLE, HRM_REQ_PRIOR_IDLE_MS_MIDDLE, LEFT_HAND_KEYS)
        HOMEROW_MOD(hmrr, HRM_TAPPING_TERM_MS_RING,   HRM_REQ_PRIOR_IDLE_MS_RING,   LEFT_HAND_KEYS)
        HOMEROW_MOD(hmrp, HRM_TAPPING_TERM_MS_PINKY,  HRM_REQ_PRIOR_IDLE_MS_PINKY,  LEFT_HAND_KEYS)

        //////////////////////////////////////////////////////////////////////////
        // Thumb keys
        //////////////////////////////////////////////////////////////////////////

        // tap: press key, hold: momentary layer
        mo_kp: mo_kp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <DEFAULT_TAPPING_TERM_MS>;
            bindings = <&mo>, <&kp>;
        };

        f10_gaming: f10_gaming {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <DEFAULT_TAPPING_TERM_MS>;
            bindings = <&kp F10>, <&to L_GAMING>;
        };
    };

    //////////////////////////////////////////////////////////////////////////////
    // Macros
    //////////////////////////////////////////////////////////////////////////////

    macros {
        UNICODE(degree_sign, &kp B &kp N0)
        UNICODE(ellipsis, &kp N2 &kp N0 &kp N2 &kp N6)

        //////////////////////////////////////////////////////////////////////////
        // Firmware stuff
        //////////////////////////////////////////////////////////////////////////

        rgb_ug_status_macro: rgb_ug_status_macro_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&rgb_ug RGB_STATUS>;
        };

        bt_0: bt_profile_macro_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };
    };

    //////////////////////////////////////////////////////////////////////////////
    // Layers
    //////////////////////////////////////////////////////////////////////////////

    keymap {
        compatible = "zmk,keymap";

        layer_default {
            bindings = <
            &kp F1            &kp F2        &kp F3        &kp F4         &kp F5                                                                                                                     &kp F6          &kp F7         &kp F8        &kp F9           &f10_gaming
            &kp EQUAL         &kp N1        &kp N2        &kp N3         &kp N4          &kp N5                                                                                             &kp N6  &kp N7          &kp N8         &kp N9        &kp N0           &kp MINUS
            &kp TAB           &kp Q         &kp W         &kp E          &kp R           &kp T                                                                                              &kp Y   &kp U           &kp I          &kp O         &kp P            &kp BSLH
            &kp ESC           &hmlp LGUI A  &hmlr LALT S  &hmlm LCTRL D  &hmli LSHIFT F  &kp G                                                                                              &kp H   &hmri LSHIFT J  &hmrm LCTRL K  &hmrr LALT L  &hmrp LGUI SEMI  &kp SQT
            &kp GRAVE         &kp Z         &kp X         &kp C          &kp V           &kp B   &mo_kp L_SYMBOLS TAB  &mo L_LOWER  &none      &none     &mo L_LOWER  &mo_kp L_SYMBOLS ESC  &kp N   &kp M           &kp COMMA      &kp DOT       &kp FSLH         &kp PG_UP
            &magic L_MAGIC 0  &kp HOME      &kp END       &kp LEFT       &kp RIGHT               &kp BSPC              &kp DEL      &kp LCTRL  &kp LALT  &kp RET      &kp SPACE                     &kp UP          &kp DOWN       &kp LBKT      &kp RBKT         &kp PG_DN
            >;
        };

        layer_lower {
            bindings = <
            &kp F11           &kp F12  &none     &none     &none                                                                                                      &none       &none         &none          &none            &to L_DEFAULT
            &none             &trans   &trans    &trans    &trans     &trans                                                                               &kp LPAR   &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp PAUSE_BREAK
            &none             &none    &kp HOME  &kp UP    &kp PG_UP  &kp INS                                                                              &kp RPAR   &kp KP_N7   &kp KP_N8     &kp KP_N9      &kp KP_MINUS     &kp PSCRN
            &none             &none    &kp LEFT  &kp DOWN  &kp RIGHT  &kp CAPS                                                                             &kp PRCNT  &kp KP_N4   &kp KP_N5     &kp KP_N6      &kp KP_PLUS      &kp SLCK
            &none             &none    &kp END   &none     &kp PG_DN  &caps_word  &none       &none         &none         &none      &kp LC(Y)  &kp LC(Z)  &kp COMMA  &kp KP_N1   &kp KP_N2     &kp KP_N3      &kp KP_ENTER     &trans
            &magic L_MAGIC 0  &none    &none     &none     &none                  &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &kp LC(X)  &kp LC(C)  &kp LC(V)             &kp KP_N0   &kp KP_N0     &kp KP_DOT     &kp KP_ENTER     &trans
            >;
        };

        // https://getreuer.info/posts/keyboards/symbol-layer/index.html
        layer_symbols {
            bindings = <
            &none             &none         &none      &none      &none                                                                                            &none      &none     &none     &none      &to L_DEFAULT
            &none             &none         &none      &none      &none      &none                                                                      &none      &none      &none     &none     &none      &none
            &none             &degree_sign  &kp LT     &kp CARET  &kp GT     &kp HASH                                                                   &kp AMPS   &kp UNDER  &kp LBKT  &kp RBKT  &kp PRCNT  &none
            &none             &kp EXCL      &kp MINUS  &kp EQUAL  &kp PLUS   &kp DOT                                                                    &kp PIPE   &kp COLON  &kp LPAR  &kp RPAR  &kp QMARK  &none
            &none             &none         &kp SLASH  &kp BSLH   &kp ASTRK  &kp COMMA  &ellipsis  &none    &none      &none      &kp RA(E)  &kp RA(S)  &kp TILDE  &kp DLLR   &kp LBRC  &kp RBRC  &kp AT     &none
            &magic L_MAGIC 0  &none         &none      &none      &none                 &kp SQT    &kp DQT  &kp GRAVE  &kp RA(A)  &kp RA(O)  &kp RA(U)             &none      &none     &none     &none      &none
            >;
        };

        layer_gaming {
            bindings = <
            &trans            &trans      &trans  &trans  &trans                                                                     &trans  &trans  &trans  &trans  &to L_DEFAULT
            &kp M             &kp GRAVE   &kp N1  &kp N2  &kp N3  &kp N4                                                     &trans  &trans  &trans  &trans  &trans  &trans
            &kp G             &kp TAB     &kp Q   &kp W   &kp E   &kp R                                                      &trans  &trans  &trans  &trans  &trans  &trans
            &kp U             &kp CAPS    &kp A   &kp S   &kp D   &kp F                                                      &trans  &trans  &trans  &trans  &trans  &trans
            &kp I             &kp LSHIFT  &kp Z   &kp X   &kp C   &kp V   &kp LBKT  &kp RBKT  &kp FSLH  &kp B  &kp H  &kp N  &trans  &trans  &trans  &trans  &trans  &trans
            &magic L_MAGIC 0  &kp LCTRL   &kp J   &kp K   &kp L           &kp RET   &kp LALT  &kp BSLH  &kp O  &kp P  &kp T          &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_magic {
            bindings = <
            &bt BT_CLR  &none            &none            &none            &none                                                                                     &none  &none  &none  &none  &bt BT_CLR_ALL
            &none       &none            &none            &none            &none            &none                                                             &none  &none  &none  &none  &none  &none
            &none       &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_TOG                                                   &none  &none  &none  &none  &none  &none
            &bootloader &rgb_ug RGB_SPD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF                                                   &none  &none  &none  &none  &none  &bootloader
            &sys_reset  &none            &none            &none            &none            &none            &bt_2  &bt_3  &none         &none  &none  &none  &none  &none  &none  &none  &none  &sys_reset
            &none       &none            &none            &none            &none                             &bt_0  &bt_1  &out OUT_USB  &none  &none  &none         &none  &none  &none  &none  &none
            >;
        };
    };
};
